@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Regular.woff2")  format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Necosmic";
  src: url("/fonts/Necosmic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Migra";
  src: url("/fonts/MigraItalic.woff2") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Grifinito";
  src: url("/fonts/GrifinitoL.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canopee";
  src: url("/fonts/Canopee.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-grifinito: "Grifinito", sans-serif;
  --font-canopee: "Canopee", sans-serif;
  --font-aeonik: "Aeonik", sans-serif;
  --font-necosmic: "Necosmic", sans-serif;
  --font-migra: "Migra", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  body {
    font-family: "MyFont", sans-serif;
  }
}

.name {
  overflow: hidden;
}
.char {
  opacity: 0;
}
.curve-3-copy {
  border-radius: 0;
  width: 2rem;
  height: 2rem;
  position: absolute;
  overflow: hidden;
}
.larger {
  box-shadow: 0 2px 0 20rem #000000;
  opacity: 1;
  border-radius: 2rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  overflow: visible;
}
@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Cria a classe que aplica a animação */
.spin-slow {
  animation: spinSlow 5s linear infinite; /* 5s = mais lento */
}
.spin-mid {
  animation: spinSlow 3s linear infinite; /* 5s = mais lento */
}
.focus .line {
  overflow: hidden;
}
.focus .char {
  transform: translateY(100%);
  overflow: hidden;
}

.percent-char{
  opacity: 1;
}
.loading .line {
  max-height: 50px;
}
.loading .word {
  max-height: max-content;
}

.text-introdution .char {
  position: relative;
  overflow: hidden;
}
.inner-char {
  transform: translateX(-100%);
}